aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.13.3+computecanada
aiohttp_cors==0.8.1+computecanada
aiosignal==1.4.0+computecanada
annotated_types==0.7.0+computecanada
astropy==7.2.0+computecanada
astropy-iers-data==0.2026.4.6.0.54.57
asttokens==3.0.1+computecanada
attrs==26.1.0+computecanada
certifi==2026.4.22
cffi==2.0.0+computecanada
charset_normalizer==3.4.7+computecanada
click==8.3.3+computecanada
colorful==0.5.8+computecanada
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
corner==2.2.3
cryptography==46.0.3+computecanada
cycler==0.12.1+computecanada
cython==3.2.4+computecanada
debugpy==1.8.20+computecanada
decorator==5.2.1+computecanada
defiant @ git+https://github.com/GersbachKa/defiant@3a142dd3b1eb4f19b86e0d7ab9a8274525b20994
-e git+ssh://git@github.com/levischult/discovery.git@d677c1800f9534dbbcfc11794da53ff0ac7f107a#egg=discovery
distlib==0.4.0+computecanada
emcee==3.1.6+computecanada
enterprise-pulsar @ git+https://github.com/nanograv/enterprise.git@423c38b49e3b3905d3ebb790a12ee43cdb9a86e9
ephem==4.2.1+computecanada
executing==2.2.1+computecanada
filelock==3.29.0+computecanada
fonttools==4.62.1+computecanada
frozenlist==1.8.0+computecanada
google-auth==2.50.0
google_api_core==2.30.3+computecanada
googleapis_common_protos==1.74.0+computecanada
grpcio==1.76.0+computecanada
h5py==3.16.0
healpy==1.19.0+computecanada
idna==3.13
importlib_metadata==8.7.1+computecanada
ipykernel==7.2.0+computecanada
ipython==9.12.0
ipython_pygments_lexers==1.1.1+computecanada
jax==0.9.1+computecanada
jax-healpy==0.6
jax_cuda12_pjrt==0.9.1+computecanada
jax_cuda12_plugin==0.9.1+computecanada
jaxlib==0.9.1+computecanada
jaxtyping==0.3.9+computecanada
jedi==0.19.2+computecanada
jplephem==2.24
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
kiwisolver==1.4.9+computecanada
la-forge==1.1.0
loguru==0.7.3+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
ml_dtypes==0.5.4+computecanada
mpi4py @ file:///tmp/ebuser/avx2/mpi4py/4.1.0/gompi-2023a/mpi4py-4.1.0
msgpack==1.1.2+computecanada
multidict==6.7.1+computecanada
multipledispatch==1.0.0+computecanada
nest_asyncio==1.6.0+computecanada
nestle==0.2.1
numdifftools==0.9.42
numpy==2.4.4
numpyro==0.20.1
opencensus==0.11.4+computecanada
opencensus_context==0.1.3+computecanada
opentelemetry-exporter-prometheus==0.62b1
opentelemetry-proto==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry_api==1.41.1+computecanada
opentelemetry_sdk==1.41.1+computecanada
opt_einsum==3.4.0+computecanada
packaging==26.0+computecanada
pandas==3.0.2
parso==0.8.6+computecanada
pexpect==4.9.0+computecanada
pillow==12.1.0+computecanada
pint-pulsar==1.1.4
platformdirs==4.9.6
prometheus_client==0.25.0+computecanada
prompt_toolkit==3.0.52+computecanada
propcache==0.4.1+computecanada
proto_plus==1.27.2+computecanada
protobuf==6.33.6+computecanada
psutil==7.2.2+computecanada
ptmcmcsampler==2.1.2+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_spy==0.4.1+computecanada
pyarrow==23.0.1
pyasn1==0.6.3+computecanada
pyasn1_modules==0.4.2+computecanada
pycparser==3.0+computecanada
pydantic==2.13.3+computecanada
pydantic_core==2.46.3+computecanada
pyerfa==2.0.1.5+computecanada
pygments==2.20.0+computecanada
pyparsing==3.3.2+computecanada
python-dateutil==2.9.0.post0
python-discovery==1.2.2
pyyaml==6.0.3+computecanada
pyzmq==27.1.0+computecanada
ray==2.54.1+computecanada
referencing==0.37.0+computecanada
requests==2.33.1+computecanada
rpds_py==0.30.0+computecanada
scikit-sparse==0.4.16
scipy==1.17.1
setuptools==82.0.1+computecanada
six==1.17.0
smart_open==7.6.0
stack_data==0.6.3+computecanada
tornado==6.5.5+computecanada
tqdm==4.67.3+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
uncertainties==3.2.4+computecanada
urllib3==2.6.3+computecanada
virtualenv==21.3.0
wadler_lindig==0.1.7+computecanada
wcwidth==0.6.0+computecanada
wheel==0.46.3+computecanada
wrapt==2.1.2+computecanada
yarl==1.23.0+computecanada
zipp==3.23.1+computecanada
